

/*######body*/

body{
	box-sizing: border-box;
	padding: 5px !important;
	background: #3C3F41 !important;
}

/*######main-view*/

.main-view{
	box-sizing: border-box;
	height: 100% !important;
	position: relative;
	background: none !important;
}

/*######content*/

.main-view .content {
	/*
	padding: 0;
	left: 200px;
	right: 30px;
	height: 100%;
	position: absolute;
	top: 0;
	*/
	box-sizing: border-box;
    width:100%;
	position: static !important;
	
    border-radius: 5px;
    overflow: hidden;
}


























/*######toolbar*/

#main-toolbar {
	/*
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 100%;
	box-sizing: border-box;
	background: #5d5f60;
	padding: 7px 0px;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	text-align: center;
	z-index: 18;

	.toolbar {
		font-size: 14px;
		padding: 4px 8px;
		background-color: #fff;
		color: #000;
		position: relative;
	}
	*/
	/*
	padding: 0;
	background: none;
	*/
	width:50px;
    height: calc(100% - 85px) !important;
	top:50px;right:10px;
    z-index:19;
    padding:5px 10px;
	box-sizing: border-box;
	box-shadow: 0 0 25px 0px #666;
    border-radius: 5px;
    overflow: hidden;
	background: #3C3F41 !important;
	text-shadow: none;
}
























/*######sidebar*/

.main-view #sidebar {
	/*
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    left: 0;
    width: 200px;
    white-space: nowrap;
    height: 100%;
    position: absolute;
    top: 0;

    .panel {
		display: -webkit-box;
		display: -moz-box;
		display: box;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		box-orient: vertical;
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		box-flex: 1;
		padding: 0;
		margin: 0;
		background: #47484b;
		color: #bbb;
		letter-spacing: .01em;
		text-shadow: 0 1px 2px rgba(0,0,0,0.5)
	}
	*/
    height: calc(100% - 85px) !important;
	top:50px;left:10px;
    z-index:19;
	box-sizing: border-box;
	box-shadow: 0 0 25px 0px #666;
    border-radius: 5px ;
    overflow: hidden;
	background: #3C3F41 !important;
	text-shadow: none;
}
	.horz-resizer {
		/*
		position: absolute;
		height: 100%;
		width: 6px;
		z-index: 21;
		opacity: 0;
		cursor: col-resize;
		*/
		left: auto !important;
		right: 0 !important;
		display:block !important;
	}

	#working-set-list-container {
		/*
    	background: #3c3f41;
		*/
    	background: none;
    }
	.working-set-header {
		/*
		position: relative;
		height: 19px;
		padding: 10px 0 9px 12px;
		background: #3c3f41;
		color: #adb9bd;
		text-shadow: none;
		overflow: hidden
		*/
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: .5px;
	}

	.working-set-header>span {
		/*
		background: #3c3f41;
		position: relative;
		z-index: 9
		*/
		background:none;
	}
	#working-set-list-container>div:last-child ul {
		/*
		padding-bottom: 21px;
		*/
		padding-bottom: 15px;
	}

	.sidebar-selection,.filetree-selection {
		/*
		background: #2d2e30;
		border-top: 1px solid rgba(0,0,0,0.06);
		border-bottom: 1px solid rgba(255,255,255,0.12);
		box-sizing: border-box;
		height: 23px;
		position: absolute
		*/
		background: #333;
		border:0;
	}
	.sidebar-selection-extension,.filetree-selection-extension,.filetree-context-extension {
		/*
		background: #2d2e30;
		border-top: 1px solid rgba(0,0,0,0.06);
		border-bottom: 1px solid rgba(255,255,255,0.12);
		box-sizing: border-box;
		height: 23px;
		width: 9px;
		position: fixed;
		z-index: 17;
		*/

		display: none !important;
	}

	#project-files-header {
		/*
		border-top: 1px solid rgba(255,255,255,0.05);
		padding: 8px 0 9px 12px;
		font-size: 13px;
		color: #adb9bd;
		overflow: hidden
		*/
		border-top: 1px solid #333;
		padding-top: 10px;
	}

	#project-files-header .btn-alt-quiet {
		/*
		background-color: #47484b;
		position: relative;
		z-index: 9
		*/
		background:none;
	}