@background: #3C3F41;
@default_text-color: rgba(233, 237, 237,1);
@activeline-background: rgba(0, 0, 0, 0.25);

/* codes */

.CodeMirror-matchingbracket {
    text-decoration: underline;
    background: rgba(0,0,0,0.1);
}

/*
 * EXTENSİONS STYLES
 */

// brackets-code-folding
.CodeMirror-foldgutter,
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    cursor: pointer !important;
    opacity: .75;
    &:hover{
        opacity: 1;
    }
}
.CodeMirror.over-gutter .CodeMirror-foldgutter,
.CodeMirror.over-gutter .CodeMirror-foldgutter-open,
.CodeMirror.over-gutter .CodeMirror-foldgutter-folded{
    opacity: 1;
}
.CodeMirror-foldgutter {
    &-open:after,
    &-folded:after {
        color: #666;
    }
}
.CodeMirror-widget .CodeMirror-foldmarker {
    height: 10px;
    padding: 0 3px;
    margin: 0;
    display: inline-block;
    border: none;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    background: transparent;
    color: #666;
    border-radius: 0;
    position: relative;
    top: -1px;
    cursor: pointer !important;
    &:hover {
        text-decoration: underline;
    }
    &:before {
        content: "●●●";
    }
    &:after {
        display: none;
    }
}
// brackets-css-color-preview
.ico-cssColorPreview {
    border: 0;
    height: 13px;
    width: 13px;
    margin-left: 4px;
    margin-bottom: 4px;
    border-radius: 100%;
}
// matchhighlight  -  eklentideğil
.CodeMirror span.cm-matchhighlight {
    border-bottom: 1px solid currentColor;
//    background-color: #cfead6 !important;
    background-color: rgba(0,0,0,0.05) !important;
}

// dnbard.documents-toolbar
@extbg-color: #f8f8f8;
@extline-color: #eee;
@ext-color1: #666;
@ext-color2: #3C3F41;
@ext-color3: #2cbeff;

.ext-documents {
    min-height: 40px;
    position: absolute;
    top: 0;
    
    background: @extbg-color;
    border-bottom: 1px solid @extline-color;
}

.pane-content {
    padding-top: 40px;
}
.ext-documents .documents-holder {
    padding-top: 0;
}
.ext-documents .document {
    padding: 10px;
    border-radius: 0;
    height: 20px;
    margin: 0;
    opacity: 1;
    font-weight: 900;
    
    color: @ext-color1;
    border-right: 1px solid @extline-color;
    background: @extbg-color;
    
    .file-icon {
        color: @ext-color1 !important;
    }
    .extension {
        opacity: .5;
    }
}
.ext-documents .document.selected {
    box-shadow: 0 5px 0 0 @ext-color2;
    color: @ext-color2;
    .file-icon {
        color: @ext-color2 !important;
    }
}
.ext-documents .document.changed {
    box-shadow: 0 5px 0 0 @ext-color3;
    color: @ext-color3;
    .file-icon {
        color: @ext-color3 !important;
    }
}
.ext-documents .document.modified:before,
.ext-documents .document.modified:after{
    display: none;
}
.ext-documents .document.drag-target_left {
    margin-left: 30px;
    
    border-left: 1px solid @extline-color;
}
.ext-documents .document.drag-target_right {
    margin-right: 30px !important;
}
.ext-documents .document.drag-target_right + .document{
    border-left: 1px solid @extline-color;
    transition: border 0;
}
.ext-documents .document.drag-target_left:after,
.ext-documents .document.drag-target_right:after {
    display: none;
}
.ext-documents .document-close {
    width: 11px;
    height: 11px;
    padding: 0;
    line-height: 0;
    color: currentColor !important;
    top: 50%;
    transform: translateY(-60%);
    background: none !important;
    &:hover{
        opacity: .75;
    }
    &:active{
        opacity: .5;
    }
}


.CodeMirror *[class*="interactive-linter-W015"] {
    border-bottom: 1px solid rgba(58, 135, 173, 0.2);
    background: rgba(58, 135, 173, 0.1);
}

.CodeMirror *[class*="interactive-linter-w"] {
    border-bottom: 1px solid rgba(248, 148, 6, 0.2);
    background: rgba(248, 148, 6, 0.1);
}

.CodeMirror *[class*="interactive-linter-e"] {
    border-bottom: 1px solid rgba(189, 54, 47, 0.2);
    background: rgba(189, 54, 47, 0.1);
}