.bookmark .CodeMirror-gutter-elt {
    background-color: lightskyblue;
}

.bookmark .CodeMirror-linenumber {
    background-image: url('../images/bookmark.svg');
    background-size: 16px;
    background-repeat: no-repeat;
    color: white !important;
}

.active-pane .bookmark .CodeMirror-gutter-elt {
    background-color: dodgerblue;
}

.active-pane .bookmark.live-preview-sync-error .CodeMirror-linenumber {
    background-color: mediumorchid !important;
}

.bookmark-notify {
    background-color: dodgerblue;
}

.bookmark-notify .CodeMirror-activeline-background {
    background-color: darkslateblue!important;
}

.bookmark.CodeMirror-activeline .CodeMirror-gutter-elt {
    background-color: rebeccapurple !important;
}

.active-pane .bookmark.CodeMirror-activeline .CodeMirror-gutter-elt {
    background-color: darkslateblue!important;
}

.bookmark.CodeMirror-activeline .CodeMirror-linenumber {
    background-image: url('../images/bookmark.svg') !important;
    background-size: 16px !important;
    background-repeat: no-repeat !important;
    color: white !important;
}

