@background: #3C3F41;
@default_text-color: rgba(233, 237, 237,1);
@activeline-background: rgba(0, 0, 0, 0.25);

/* codes */

// when line numbers hided
.show-line-padding {
    .CodeMirror-scroll{
        padding-left: 0;
    }
    .CodeMirror-gutters {
        border: 0;
    }
}
// when cursor focused a line
.CodeMirror-focused .CodeMirror-activeline {
    .CodeMirror-activeline-background {
        box-shadow: -5px 0 0 0 @activeline-background;
    }
    .CodeMirror-activeline-background,
    .CodeMirror-gutter-wrapper{
        background: @activeline-background;
    }
    .CodeMirror-gutter-elt {
        background: none;
    }
    .inline-widget .CodeMirror-gutter-elt {
        color: rgb(83, 127, 126);
    }
}
// code editor bg and text(default) colors;
.CodeMirror,
.CodeMirror-scroll {
    background-color: @background;
    color: @default_text-color;
}
.CodeMirror-scroll{
    padding-left: 2.5px;
}
// gutters bg, text and etc.
.CodeMirror-gutters {
    background: @background;
    color: rgb(83, 127, 126);
//    border-right: 1px dashed rgba(83, 127, 126,0.25);
    margin-left: 2px;
}
.CodeMirror-guttermarker,
.CodeMirror-guttermarker-subtle,
.CodeMirror-linenumber {
    color: rgba(83, 127, 126,1);
}

.CodeMirror-cursor {
    border-left: 1px solid #f8f8f0;
}

div.CodeMirror-selected {
    background: rgba(255, 255, 255, 0.15);
}

.CodeMirror-focused div.CodeMirror-selected {
    background: rgba(255, 255, 255, 0.10);
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
    background: rgba(255, 255, 255, 0.10);
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
    background: rgba(255, 255, 255, 0.10);
}

.inline-widget{
    background: @background;
    border-top: 1px solid @activeline-background;
    border-bottom: 1px solid @activeline-background;
    .shadow{
        background-image: none;
    }
}

.cm-keyword {
    color: #c792ea;
}

.cm-operator {
    color: rgba(233, 237, 237, 1);
}

.cm-variable-2 {
    color: #80CBC4;
}

.cm-variable-3 {
    color: #82B1FF;
}

.cm-builtin {
    color: #DECB6B;
}

.cm-atom {
    color: #F77669;
} 

.cm-number {
    color: #F77669;
}

.cm-def {
    color: rgba(233, 237, 237, 1);
}

.cm-error {
    color: rgba(255, 255, 255, 1.0);
    background-color: #EC5F67;
}

.cm-string {
    color: #C3E88D;
}

.cm-string-2 {
    color: #80CBC4;
}

.cm-comment {
    color: #546E7A;
    font-style: italic;
}

.cm-variable {
    color: #82B1FF;
}

.cm-tag {
    color: #80CBC4;
}

.cm-meta {
    color: #80CBC4;
}

.cm-attribute {
    color: #FFCB6B;
}

.cm-property {
    color: #80CBAE;
}

.cm-qualifier {
    color: #DECB6B;
}

.cm-variable-3 {
    color: #DECB6B;
}

.cm-tag {
    color: #ff5370;
}

.CodeMirror-matchingbracket {
    color: #eee !important;
    background: rgba(255, 255, 255, 0.10);
    text-decoration: underline;
}

/*
 * EXTENSİONS STYLES
 */

// brackets-code-folding
.CodeMirror-foldgutter,
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    cursor: pointer !important;
    opacity: .75;
    &:hover{
        opacity: 1;
    }
}
.CodeMirror.over-gutter .CodeMirror-foldgutter,
.CodeMirror.over-gutter .CodeMirror-foldgutter-open,
.CodeMirror.over-gutter .CodeMirror-foldgutter-folded{
    opacity: 1;
}
.CodeMirror-foldgutter {
    &-open:after,
    &-folded:after {
        color: #537f7e;
    }
}
.CodeMirror-widget .CodeMirror-foldmarker {
    height: 10px;
    padding: 0 3px;
    margin: 0;
    display: inline-block;
    border: none;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    background: transparent;
    color: #eee;
    border-radius: 0;
    position: relative;
    top: -1px;
    cursor: pointer !important;
    &:hover {
        text-decoration: underline;
    }
    &:before {
        content: "● ● ●";
    }
    &:after {
        display: none;
    }
}
// brackets-css-color-preview
.ico-cssColorPreview {
    border: 0;
    height: 13px;
    width: 13px;
    margin-left: 4px;
    margin-bottom: 4px;
    border-radius: 100%;
}
// matchhighlight  -  eklentideğil
.CodeMirror span.cm-matchhighlight {
    border-bottom: 1px solid currentColor;
    background-color: transparent !important;
}

// dnbard.documents-toolbar
@extline-color: @activeline-background;
@ext-color1: #80CBC4;
@ext-color2: #DECB6B;
@ext-color3: #c792ea;

.ext-documents {
    min-height: 40px;
    position: absolute;
    top: 0;
    
    background: @background;
    border-bottom: 1px solid @extline-color;
}
//#second-pane .ext-documents {
//    border-top: 1px solid @extline-color;
//}

.pane-content {
    padding-top: 30px;
}
.ext-documents .documents-holder {
    padding-top: 0;
}
.ext-documents .document {
    padding: 10px;
    border-radius: 0;
    height: 20px;
    margin: 0;
    opacity: 1;
    font-weight: 900;
    
    color: @ext-color1;
    border-right: 1px solid @extline-color;
    background: @background;
    
    .file-icon {
        color: @ext-color1 !important;
    }
    .extension {
        opacity: .5;
    }
}
.ext-documents .document.selected {
    box-shadow: 0 5px 0 0 @ext-color2;
    color: @ext-color2;
    .file-icon {
        color: @ext-color2 !important;
    }
}
.ext-documents .document.changed {
    box-shadow: 0 5px 0 0 @ext-color3;
    color: @ext-color3;
    .file-icon {
        color: @ext-color3 !important;
    }
}
.ext-documents .document.modified:before,
.ext-documents .document.modified:after{
    display: none;
}
.ext-documents .document.drag-target_left {
    margin-left: 30px;
    
    border-left: 1px solid @extline-color;
}
.ext-documents .document.drag-target_right {
    margin-right: 30px !important;
}
.ext-documents .document.drag-target_right + .document{
    border-left: 1px solid @extline-color;
    transition: border 0;
}
.ext-documents .document.drag-target_left:after,
.ext-documents .document.drag-target_right:after {
    display: none;
}
.ext-documents .document-close {
    width: 11px;
    height: 11px;
    padding: 0;
    line-height: 0;
    color: currentColor !important;
    top: 50%;
    transform: translateY(-60%);
    background: none !important;
    &:hover{
        opacity: .75;
    }
    &:active{
        opacity: .5;
    }
}

